.people {
  font-family: Arial, Helvetica, sans-serif;

  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, auto);

  gap: 30px 10px;
  justify-content: center;

  @media (min-width: 1000px) {
    grid-template-columns: repeat(4, auto);
  }

  .person__item {
    position: relative;

    .person {
      box-sizing: border-box;
      width: 220px;
      padding-top: 10px;
      padding-inline: 10px;

      display: flex;
      flex-direction: column;
      align-items: center;

      transition: transform 1s linear;

      .photo {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        overflow: hidden;
        transition: border-radius 1s linear;

        position: relative;

        &__img {
          width: 200px;
          height: 200px;
          object-fit: cover;
          object-position: center;
        }

        .rank {
          display: block;

          position: absolute;
          background-color: #fff;
          width: 32px;
          height: 32px;
          border-radius: 50%;
          color: #8b0000;
          top: calc(50% - 16px);
          right: 10px;

          text-align: center;
          line-height: 32px;

          font-weight: 700;
          font-size: 16px;
        }
      }

      .details {
        margin-top: 8px;
        text-align: center;

        .name {
          color: #2f4f4f;

          font-weight: 700;
          font-size: 20px;
        }

        .extra {
          display: block;
          font-size: 18px;
          height: 0;
          opacity: 0;
        }
      }
    }
  }

  .person:hover {
    position: absolute;
    background-color: #eeeeee;
    border-radius: 10px;

    transform: scale(1.2);
    z-index: 1;

    .photo {
      border-radius: 60px;
    }

    .details {
      .extra {
        height: auto;
        opacity: 1;
        margin-top: 9px;
        margin-bottom: 16px;
      }
    }
  }
}
